@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('fonts/roboto-v30-latin-regular.woff') format('woff');
  }
body {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.header {
    height: 85px;
    position: fixed;
    z-index: 9;
    background-color: #ffff;
    top: 0;
    left: 0;
    width: 100%;
}
.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    list-style-type: none;
    margin: 0;
}
.link {
    font-size: 12px;
    line-height: 15px;
    color: #00402F;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#reg_link {
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffff;
    padding: 35px;
}
.list_item {
    display: flex;
    align-items: center;
}
.menu_block {
    display: flex;
    align-items: center;
}
#reg {
    background-color: #00402F;
    height: 85px;
    left: 0%;
    right: 0%;
    top: 0px;    
}

#log_item {
    border-left: 1px solid rgba(0, 64, 47, 0.2);
    height: 85px;
    width: 1px;
    padding-left: 52px;
}
.section_1 {
    height: auto;
    background-color: #668C82;
    color: #ffff;
}
.section_1_content {
    margin-left: 145px;
    margin-right: 145px;
    padding-bottom: 40px;
    padding-top: 165px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 80px;
}
.first_img {
    width: 546px;
    height: 547px;
}
.section_1_main_text {
    font-weight: 400;
    font-size: 61px;
    line-height: 53px;
    max-width: 344px;
}
.section_1_text_1 {
    font-size: 14px;
    line-height: 20px;
    max-width: 516px;
}
.content_1_list {
    list-style-type: none;
    font-size: 14px;
    
}
.content_1_list_text {
    line-height: 33px;
}
.content_1_list_text:not(:last-child) {
    margin-bottom: 15px;
}
.section_1_button_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #00402F;
    height: 21px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-width: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.section_2 {
    height: auto;
    background-color: #849ACB;
    color: #ffff;
}
.section_2_content {
    margin-left: 135px;
    margin-right: 41px;
    padding-bottom: 40px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 83px;
}
.section_2_mission_text {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 4.3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.57);
}
.section_2_main_text {
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.3px;
    font-weight: 400;
    max-width: 549px;
}
.section_2_button_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    padding: 0 26px;
}
.first_img {
    width: 517px;
    height: 517px;
}
.section_2_img-sign {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section_3 {
    height: auto;
    background-color: #FFF4E3;
    color: #00402F;
}
.section_3_content {
    margin-left: 145px;
    margin-right: 145px;
    padding-bottom: 40px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    column-gap: 58px;
}
.third_img {
    width: 440px;
    height: 468px;
}
.section_3_main_text {
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 29px;
}
.section_3_text_1 {
    line-height: 22px;
    max-width: 615px;
    margin-bottom: 38px;
}
.section_3_button_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 25px;
    background-color: #00402F;
    border-radius: 50px;
    border-width: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.section_4 {
    height: auto;
    background-color: #ffffff;
    color: #00402F;
    margin-bottom: 55px;
}
.section_4_content {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 71px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 83px;
}
.section_4_main_text {
    font-size: 50px;
    line-height: 65px;
    text-align: center;
}
.fourth_img {
    width: 120px;
    height: 94px;
    margin-bottom: 20px;
}
.section_4_text_1 {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 5px;
}
.section_4_text_2 {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.section_5_content {
    height: auto;
    background-color: #ffffff;
    color: #00402F;
    margin-left: 145px;
    margin-right: 145px;
}
.fifth_img {
    width: 566px;
    height: 524px;
}
.section_5_content_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    align-items: center;
    margin-bottom: 50px;
    column-gap: 11px;
}
.section_5_content_1_main_text {
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    max-width: 368px;
    margin-bottom: 24px;
}
.section_5_content_1_text_1 {
    line-height: 24px;
    margin: 0;
    max-width: 502px;
}
.sign_green {
    display: block;
    margin: auto;
    margin-bottom: 60px;
}
.section_5_content_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    align-items: center;
    margin-bottom: 25px;
    column-gap: 41px;
}
.section_5_content_2_main_text {
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    max-width: 493px;
    margin-bottom: 24px;
}
.section_5_content_2_text_1 {
    line-height: 24px;
    margin: 0;
    max-width: 494px;
}
.sixth_img {
    width: 595px;
    height: 694px;
}
.seventh_img {
    width: 541px;
    height: 461px;
}
.section_5_content_3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    margin-bottom: 60px;
    column-gap: 73px;
}
.section_5_content_3_main_text {
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    max-width: 439px;
    margin-bottom: 24px;
}
.section_5_content_3_text_1 {
    line-height: 24px;
    margin: 0;
    max-width: 487px;
}
.sign_rotate_green {
    display: block;
    margin: auto;
    margin-bottom: 120px;
}
.section_6 {
    height: auto;
    background-color: #FFF4E3;
    color: #00402F;
}
.section_6_content {
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.section_6_main_text {
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 68px;
}
.section_6_testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 62px;
}
.section_7 {
    height: auto;
    background-color: #522840;
    color: #ffffff;
}
.section_7_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 295px;
    margin-right: 295px;
    padding-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.sign_last {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.section_7_main_text {
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.5px;
    max-width: 818px;
    margin-bottom: 56px;
}
.section_7_button_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #00402F;
    height: 25px;
    width: max-content;
    background-color: #ffffff;
    border-radius: 50px;
    border-width: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.footer {
    height: 266px;
    background-color: #FFFFFF;
    color: #00402F;
}
.footer_content {
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 61px;
}
.footer_content_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.instagram_link {
    text-decoration: none;
    color: #00402F;
    font-size: 19px;
    line-height: 20px;
}
.sign_green_last {
    width: 32px;
    height: 18px;
}
.policy {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}
.footer_content_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.immediate_help {
    font-size: 12px;
    line-height: 15px;
    max-width: 360px;
}
.contacts {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}
.contact {
    margin: 0;
}
.tel {
    text-decoration: none;
    color: #00402F;
}

@media screen and (max-width: 800px){
    .first_img, .second_img, .third_img, .fifth_img, .sixth_img, .seventh_img {
        width: 500px;
        height: auto;
    }
    .section_1_content, .section_2_content, .section_3_content, .section_4_content, .section_5_content, .footer_content {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 600px){
    .first_img, .second_img, .third_img, .fifth_img, .sixth_img, .seventh_img {
        width: 300px;
        height: auto;
    }
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00402F;
}
@media only screen and (max-width: 1140px) {
    .header_list {
        position: absolute;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        gap: 0;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .header_list.active {
        left: 0;
        width: 100%;
    }
    .list_item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}
